.section-contacts p {
  margin: 0px !important;
}

header section {
  background-color: #ffed07;
}

header nav {
  background-color: #2e2e2e !important;
  color: #fff;
}

nav .active,
.footer-ul p {
  color: #ffed07 !important;
}

.section-contacts {
  justify-content: space-between;
}

.section-contacts .contacts p {
  margin-right: 20px !important;
}

.section-contacts .contacts i {
  margin-right: 10px !important;
}

.bg-body-tertiary {
  background-color: #2e2e2e !important;
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
  text-transform: uppercase;
  padding: 8px 25px 8px 0px !important;
  font-size: 14px;
  font-weight: 700;
}

nav img {
  object-fit: contain;
}

.search {
  border: none !important;
  background-color: rgb(67, 67, 67);
  border-radius: 0px !important;
  padding: 10px 12px !important;
  width: 100%;
}

.search::placeholder {
  color: #ccc;
}

.navbar {
  padding: 0px !important;
}

.navbar form {
  height: 100%;
  width: 38.5% !important;
}

.container {
  width: 65% !important;
}

.logo {
  padding: 30px;
  width: 50%;
  margin: 0px auto;
}

.logo span {
  font-weight: 600;
}

.logo p {
  width: 50% !important;
}

.logo img {
  border-right: 1px solid #2b2b2b;
}

.logo img {
  padding-right: 40px;
}

.logo img {
  width: 40%;
}

.logo p {
  text-transform: uppercase;
  margin-left: 40px !important;
  margin-bottom: 0;
}

footer {
  background-image: url("../img/footer-bg.jpg");
}

footer img {
  object-fit: contain;
  margin: 30px 0px;
}

.logos img:nth-child(2) {
  margin: 30px 80px;
}

footer ul li {
  list-style-type: none;
  padding: 0px !important;
  margin: 0px !important;
  color: #fff;
}

footer ul {
  padding: 0px !important;
}

footer li {
  font-size: 16px;
  font-weight: 300;
}

.social-icons img {
  margin-right: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.footer-ul p {
  font-weight: 600;
}


.copyright {
  display: flex;
  justify-content: center;
}
.copyright p {
  color: #fff;
  font-size: 16px;
}
.copyright {
  background-color: rgb(60, 60, 60);
  padding: 12px;
}

.copyright p {
  margin-bottom: 0px;
}
