@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {    
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

header section, .background-yellow {
    background-color: #ffed07;
}

nav {
    background-color: #2e2e2e;
    color: #fff;
}

nav .active, .text-yellow {
    color: #ffed07; 
}

.text-blue {
    color: #168ec6
}